h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
}

h3,
h4,
h5,
h6 {
	font-weight: 300;
}

body {
	background-image: url(../images/mooning.png);
}

#container {
	background-color: #fff;
	padding: 20px;
}

.hero-unit {
	background-image: url(../images/ticks.png);
}